.ticket {
    width: 502px;
    height: 184px;
    border: 1px solid #DFE5EC;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.ticket__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 24px;
    color: #2196F3;
}

.ticket__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ticket__item {
    color: #A0B0B9;
}

.ticket__hours {
    text-transform: none;
}